{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  }
{%- endstyle -%}

<section class="olio-catalog">
  <div class="container">
    <div class="olio-catalog-title__wrapper">
      <h1 class="olio-catalog-title">Explore olive oil<br/>boutique</h1>
    </div>
    <div class="olio-catalog-categories">
      <a href="/collections/all" class="olio-catalog-categories__item {% if collection.title == 'Products' %}olio-catalog-categories__item_active{% endif %}">Shop All</a>
      {% for collectionFilter in collections %}
        <a href="{{ collectionFilter.url }}" class="olio-catalog-categories__item {% if collection.title == collectionFilter.title %}olio-catalog-categories__item_active{% endif %}">{{ collectionFilter.title }}</a>
      {% endfor %}
    </div>
    <div class="olio-catalog-info">
      <div class="olio-catalog-info__title">{{ collection.title }}</div>
      <div class="olio-catalog-info__text">{{ collection.description }}</div>
    </div>

    <form class="olio-catalog-filters" id='catalog-filter'>
      <div class="olio-catalog-filters-tags">
        <input type='hidden' id='collection-handle' value="{{ collection.handle }}">
        <input type='hidden' id='section-id' value='{{ section.id }}'>

        {% for filter in collection.filters %}
          {% if filter.label == 'Tags' %}
            <fieldset class='olio-catalog-filters-tags-fieldset' id='tag'>
              <label class='olio-catalog-filters-tags__item'>
                <input type="radio" name="tag" value="all" {% if filter.active_values.size == 0%}checked{% endif %}/>
                <span>All</span>
              </label>
              {% assign sorted_values = filter.values | sort: 'label' %}
              {% for value in sorted_values %}
                <label class='olio-catalog-filters-tags__item' style="order: {{ value.id }};">
                  <input data-param-name="{{ value.param_name }}" type="radio" id="" name="tag" value="{{ value.label | escape }}" {% if value.active %}checked{% endif %} />
                  <span>{{ value.label | escape }}</span>
                </label>
              {%  endfor %}
            </fieldset>
          {% endif %}

        {% endfor %}

      </div>
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}


      <div class='olio-catalog-filters-sorting-wrapper'>
        <div class='olio-catalog-filters-sorting'>
          <div class='olio-catalog-filters-sorting-selected'>
            {%- for option in collection.sort_options -%}
              {% if option.value == sort_by %}
                Sort: {{ option.name | escape}}
                <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="Arrow 1" d="M4.5 0.5C4.5 0.223858 4.27614 1.20706e-08 4 0C3.72386 -1.20706e-08 3.5 0.223858 3.5 0.5L4.5 0.5ZM3.64645 9.85355C3.84171 10.0488 4.15829 10.0488 4.35355 9.85355L7.53553 6.67157C7.7308 6.47631 7.7308 6.15973 7.53553 5.96447C7.34027 5.7692 7.02369 5.7692 6.82843 5.96447L4 8.79289L1.17157 5.96447C0.97631 5.7692 0.659728 5.7692 0.464466 5.96447C0.269204 6.15973 0.269204 6.47631 0.464466 6.67157L3.64645 9.85355ZM3.5 0.5L3.5 9.5L4.5 9.5L4.5 0.5L3.5 0.5Z" fill="#212A17"/>
                </svg>
              {% endif %}
            {%- endfor -%}
          </div>
          <div class='olio-catalog-filters-sorting-options'>
              {%- for option in collection.sort_options -%}
                  <div class="olio-catalog-filters-sorting-option"
                          data-value="{{ option.value | escape }}"
                  >
                      {{ option.name | escape }}
                  </div>
              {%- endfor -%}
          </div>
        </div>

        <select name="sort_by" class="" id="SortBy" aria-describedby="a11y-refresh-page-message">
          {%- for option in collection.sort_options -%}
            <option
                    value="{{ option.value | escape }}"
                    {% if option.value == sort_by %}
                      selected="selected"
                    {% endif %}
            >
              Sort: {{ option.name | escape }}
            </option>
          {%- endfor -%}
        </select>
      </div>
    </form>

    <div class="">
      {%- paginate collection.products by section.settings.products_per_page -%}
        {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}

        <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">


          <div
                  class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  id="ProductGridContainer"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
          >
            {%- if collection.products.size == 0 -%}
              <div class="collection collection--empty" id="product-grid" data-id="{{ section.id }}">
                <div class="loading-overlay gradient"></div>
                <div class="title-wrapper center">
                  <h2 class="title title--primary">
                    {{ 'sections.collection_template.empty' | t -}}
                    <br>
                    {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                    }}
                  </h2>
                </div>
              </div>
            {%- else -%}
              <div
                      class="collection"
              >
                <div class="loading-overlay gradient"></div>
                <ul
                        id="product-grid"
                        data-id="{{ section.id }}"
                        class="olio-catalog-grid"
                >
                  {% assign skip_card_product_styles = false %}

                  {%- for product in collection.products -%}
                    {% assign lazy_load = false %}

                    {%- if forloop.index > 2 -%}
                      {%- assign lazy_load = true -%}
                    {%- endif -%}

                    <li class="">
                      {% render 'card-product',
                              card_product: product,
                              media_aspect_ratio: section.settings.image_ratio,
                              image_shape: section.settings.image_shape,
                              show_secondary_image: section.settings.show_secondary_image,
                              show_vendor: section.settings.show_vendor,
                              show_rating: section.settings.show_rating,
                              lazy_load: lazy_load,
                              skip_styles: skip_card_product_styles,
                              quick_add: section.settings.quick_add,
                              section_id: section.id
                      %}
                    </li>
                    {%- assign skip_card_product_styles = true -%}
                  {%- endfor -%}
                </ul>

                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate, anchor: '' %}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endpaginate -%}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
  ]
}
{% endschema %}
